.feynman {
  margin: 0;
  padding-top: 100px;
  min-height: 890px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-color: #f2f2f2;
}