.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.logo_place_header {
  display: flex;
  background-image: url('../images/logo_place_header.svg');
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  display: flex;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  align-self: center;
  left: 64px;
  z-index: 2;
}

.header__subtitle {
  display: flex;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__main-illustration { 
  display: flex;
  flex-direction: row-reverse;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  margin: 100px 0;
  justify-content: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  display: flex;
  width: 175px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
